# Content Based Movie Recommender - Semantic BERT

In [2]:
import pandas as pd
import pickle
import torch
import transformers

Load dataset

In [2]:
df = pd.read_csv('./movie_lens_dataset/movies_metadata_processed.csv', low_memory=False)
df.head()

,Unnamed: 0,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
df.shape

(41368, 26)

BERT is basically a stack of transformer/ encoder layers. It understands the context of a sentence efficiently by observing the sentence from the left as well as from right i.e., bidirectionally. It is a pre trained language model, which performs the following two tasks primarily.

Masked Language Modelling (MLM)

Next Sequence Prediction (NSP)

### Creating pretrained tokenizer and model

In [4]:
bert_model=transformers.DistilBertModel
berttokenizer=transformers.DistilBertTokenizer
weights_type="distilbert-base-uncased"

In [5]:
tokenizer=berttokenizer.from_pretrained(weights_type)
model=bert_model.from_pretrained(weights_type ,output_hidden_states=True)

Downloading vocab.txt:   0%|          | 0.00/226k [00:00<?, ?B/s]

Downloading tokenizer_config.json:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

Downloading config.json:   0%|          | 0.00/483 [00:00<?, ?B/s]

Downloading pytorch_model.bin:   0%|          | 0.00/256M [00:00<?, ?B/s]

Some weights of the model checkpoint at distilbert-base-uncased were not used when initializing DistilBertModel: ['vocab_transform.weight', 'vocab_projector.weight', 'vocab_transform.bias', 'vocab_layer_norm.weight', 'vocab_layer_norm.bias', 'vocab_projector.bias']
- This IS expected if you are initializing DistilBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

### Encoding all the movie overviews

In [6]:
inputs=df["overview"].apply((lambda plot: tokenizer.encode(plot, add_special_tokens=True,max_length=100,truncation=True, padding='longest')))

### Adding padding to max length of 100

In [7]:
import numpy as np
def padding(list_of_sent):
    output=[]
    max_len=100
    for sent in list_of_sent.values:
        padded_sent=sent+[0]*(max_len-len(sent))
        output.append(padded_sent)
    output = np.array(output)
    return output

In [8]:
inputs=padding(inputs)

In [9]:
inputs[1]

array([  101, 22941, 12120,  2848,  7523, 22454,  2604,  2208,  2330,
        2341,  8687,  2088,  4895,  9148, 13027,  2135, 13260,  5070,
        4639,  2040,  7567,  2503,  2208,  2656,  2095,  2542,  2282,
        5070,  2015,  3246,  4071,  3926,  2208, 11268, 19188,  2093,
        2424,  2770,  5016, 24091, 17119,  2891,  4763, 10608, 17082,
        6492,   102,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0])

### Creating attention mask

In [10]:
mask=np.where(inputs!=0,1,0)

Converting inputs and attention mask into tensors

In [11]:
embedded_inputs=torch.tensor(inputs)
attention_mask=torch.tensor(mask)

In [12]:
embedded_inputs.shape

torch.Size([41368, 100])

In [13]:
attention_mask.shape

torch.Size([41368, 100])

# Running pretrained model

Setting batch size to prevent CPU memory allocation error

In [14]:
BATCH_SIZE = 32

In [15]:
from torch.utils.data import DataLoader
embedded_inputs_dataloader = DataLoader(embedded_inputs, batch_size=BATCH_SIZE)
attention_mask_dataloader = DataLoader(attention_mask, batch_size=BATCH_SIZE)

Adding all the last hidden states of every batch into a list

In [16]:
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
model.to(device)

output = []

with torch.no_grad():
    for emb, attn in zip(embedded_inputs_dataloader, attention_mask_dataloader):
        states = model(emb, attention_mask=attn)
        output.append(states.last_hidden_state)

In [18]:
with open('./pickle/output.pkl', 'wb') as f:
    pickle.dump(output, f, protocol=pickle.HIGHEST_PROTOCOL)
    print("output dumped")

output dumped

Concatenating all the hidden states from all batches into a large tensor and extracting the features into a numpy array

In [3]:
with open('./pickle/output.pkl', 'rb') as f:
    output = pickle.load(f)
    print("output loaded")

output loaded

In [4]:
output_tensor = torch.cat(output, 0)

In [5]:
extracted_features = output_tensor[:,0,:].numpy()

In [6]:
extracted_features.shape

(41368, 768)

### Saving extracted features into pickle

In [7]:
with open("./pickle/bert_extracted_features.pickle", "wb") as handle:
    pickle.dump(extracted_features, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Extracted features saved!")

Extracted features saved!

# Getting recommendations

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
with open("./pickle/bert_extracted_features.pickle", "rb") as handle:
    extracted_features = pickle.load(handle)

In [10]:
cos_sim=cosine_similarity(extracted_features,extracted_features)

In [ ]:
cos_sim.shape

### Saving cosine similarity

In [12]:
with open("./pickle/bert_cosine_similarity.pickle", "wb") as handle:
    pickle.dump(cos_sim, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Consine similarity saved!")

Consine similarity saved!

In [20]:
with open('./pickle/bert_cosine_similarity.pickle', 'rb') as f:
    cos_sim = pickle.load(f)
    print("Cosine similarity loaded")

Cosine similarity loaded

Loading movie indices

In [13]:
with open('./pickle/movie_indices.pickle', 'rb') as handle:
    movie_indices = pickle.load(handle)

In [15]:
df = pd.read_csv('./movie_lens_dataset/movies_metadata_processed.csv', low_memory=False)
df.head()

,Unnamed: 0,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Load processed dataset

In [14]:
movie_indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Caged Heat 3000                41363
Subdue                         41364
Century of Birthing            41365
Satan Triumphant               41366
Queerama                       41367
Length: 41368, dtype: int64

In [ ]:
test_movie = "Toy Story"
movie_index = movie_indices[test_movie]
movie_index

In [ ]:
similarity_scores = pd.Series(cos_sim[movie_index]).sort_values(ascending = False)[1:11]

In [ ]:
similarity_scores

In [ ]:
df[['title','imdb_id']].iloc[similarity_scores.index]

Loading cosine similarity

In [ ]:
with open("./pickle/bert_cosine_similarity.pickle", "rb") as handle:
    cosine_similarity = pickle.load(handle)

In [17]:
def getBertRecommendations(name: str, cosine_sim, movie_indices, df):
    print("Getting recommendations for:", name)

    # Get index of query movie
    movie_index = movie_indices[name]
    
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=['score'])
    
    # Top 10
    top_indices = similarity_scores.sort_values(by="score", ascending=False)[1:11].index
    
    # Get movie title, release date and poster path
    output = df[['title', 'release_date', 'poster_path']].iloc[top_indices]

    output['score'] = similarity_scores.sort_values(by="score", ascending=False)['score'][1:11]

    output.to_csv('./output/bert/{}.csv'.format(name))
    
    return output

# Evaluation Set

In [25]:
test_movies = ["Harry Potter and the Philosopher's Stone",
"The Matrix",
"The Dark Knight",
"Toy Story",
"The Avengers",
"The Bourne Identity",
"The Devil Wears Prada",
"Mean Girls",
"Sex and the City",
"Mission: Impossible - Ghost Protocol"]

In [26]:
for movie in test_movies:
    print(getTfIdfRecommendations(movie, cos_sim, movie_indices, df))
    print("\n")

Getting recommendations for: Harry Potter and the Philosopher's Stone
                                     title release_date  \
1217                    Young Frankenstein   1974-12-15
14885        Nanny McPhee and the Big Bang   2010-03-26
25611                        Halloweentown   1998-11-10
24376                         The Shortcut   2009-02-07
27573  Barbie in the 12 Dancing Princesses   2006-09-19
2978                 The Cider House Rules   1999-12-17
36149                           The Portal   2014-03-22
7786               Dr. Jekyll and Ms. Hyde   1995-08-25
20211                         The Smurfs 2   2013-07-30
3483                         Puppet Master   1989-10-12

                            poster_path     score
1217   /tQJAWbIjvvqVKLLbIZHtwGw2HTf.jpg  0.943052
14885   /yBNytVM6U3godvMcwcOQWOvL0f.jpg  0.940344
25611  /ih2qNTuutdoG5Ll7CHxNgFpCBX3.jpg  0.940237
24376  /tB4LeBIuKA6e8uLmvjKaEeDwfl1.jpg  0.939665
27573  /8PBjz1xVq7oRUvV5XpWqJZgUBH4.jpg  0.933219
2978   /vAWQenCtBlzICEi9PGY3nz8CWRJ.jpg  0.932796
36149  /bJGDZY49bwGInEWxl1YWweX1Fp2.jpg  0.932298
7786   /aWQNVCPeMnNRxyg1OsCC67SIIWc.jpg  0.931931
20211  /mF2FXzZ3EktWoagU4fzoabNsK6J.jpg  0.931818
3483   /3gMXTOSlpNDfiZ659w19HW8roZ7.jpg  0.931773


Getting recommendations for: The Matrix
                                              title release_date  \
17132                Prisoners of the Lost Universe   1983-08-15
4085                                          Krull   1983-07-29
37537                        The Monk and the Demon   2016-09-08
1578                              Starship Troopers   1997-11-06
38426                 Marvel One-Shot: Agent Carter   2013-09-08
17796                                       Lockout   2012-04-12
36575                        Invaders from the Deep   1981-01-01
7587                              This Island Earth   1955-06-01
505                              The Puppet Masters   1994-10-21
38518  Science Fiction Volume One: The Osiris Child   2017-08-31

                            poster_path     score
17132  /rHmw6L1XK81BDYsmEqra1nAvkbp.jpg  0.964903
4085   /xini4pJHApNdYO1go39BmIvBdLT.jpg  0.963710
37537  /3udM0uLchJUU6DYU2wpoZk7AmMj.jpg  0.960801
1578   /zeCD9WkhABFJmPq3SlTozXJGEtr.jpg  0.960083
38426  /eiw4sh6ieAVuJq6E1bSHQkZPfwm.jpg  0.960065
17796  /rE1AMAaUVuzKcPwv3CR8KC0Pv0n.jpg  0.959771
36575  /aBlVrrEvBU5ip2I9lJOMN1nY1em.jpg  0.959072
7587   /dNNZSjrWWwgllcYtQCeo0M5FPdp.jpg  0.958860
505    /tlcrpwjZZdlgArmZiXtr4ecgQfy.jpg  0.958780
38518  /3sx69bH2n2tgvknvq2VROJ6lEXS.jpg  0.958534


Getting recommendations for: The Dark Knight
                                                   title release_date  \
149                                       Batman Forever   1995-06-16
17358                              The Dark Knight Rises   2012-07-16
1311                                      Batman Returns   1992-06-19
34648                     Justice League vs. Teen Titans   2016-03-29
35758   Teenage Mutant Ninja Turtles: Out of the Shadows   2016-06-01
1471                                      Batman & Robin   1997-06-20
40953                           Batman Beyond: The Movie   1999-01-10
21839                                      Son of Batman   2014-04-20
30955  LEGO DC Comics Super Heroes: Justice League: A...   2015-08-25
19168            Batman: The Dark Knight Returns, Part 2   2013-01-18

                            poster_path     score
149    /eTMrHEhlFPHNxpqGwpGGTdAa0xV.jpg  0.974642
17358  /dEYnvnUfXrqvqeRSqvIEtmzhoA8.jpg  0.971748
1311   /jX5THE1yW3zTdeD9dupcIyQvKiG.jpg  0.970102
34648  /dQMO9EJxDBkdRzWUEWkbYzrMDC0.jpg  0.965891
35758  /5BCpxPLyp4wGcTribpZ6WtNkVJ5.jpg  0.965534
1471   /79AYCcxw3kSKbhGpx1LiqaCAbwo.jpg  0.964667
40953  /fQP9Oz15Ts5f0RaruqKjAEs0LUs.jpg  0.964419
21839  /j3SFJqZPeeB9g5JMU7UFLgEqj2T.jpg  0.964345
30955  /oaviDpjEvFRKur8aooT7pJKgETx.jpg  0.962837
19168  /wPeorCnD9MRR2S9Dzh4OpIgNLiv.jpg  0.959662


Getting recommendations for: Toy Story
                                                   title release_date  \
14703                                        Toy Story 3   2010-06-16
10895                                  Snoopy, Come Home   1972-09-08
2945                                         Toy Story 2   1999-10-30
17924  Don't Eat the Pictures: Sesame Street at the M...   1983-11-16
16399                                      Open Season 3   2010-01-25
24145                                 Garfield Gets Real   2007-09-30
1922                             Honey I Blew Up the Kid   1992-07-16
27332                                       Space Dogs 2   2014-02-06
29792                          The Man Called Flintstone   1966-08-03
38940                               The Little Whirlwind   1941-02-14

                            poster_path     score
14703  /mMltbSxwEdNE4Cv8QYLpzkHWTDo.jpg  0.951804
10895  /9EVwamJv0cGApvT4MpDpbWZPspQ.jpg  0.944566
2945   /3CmK3XurcLeUyMifCR28ibzupbB.jpg  0.943332
17924  /sosGDDeEzxKUK1nYYGa0JUB23CC.jpg  0.941909
16399  /djxT6i7xxJWAayNQY1imB879SbC.jpg  0.941455
24145  /jhSImrUjIDcPCkvgJyFvO7hDZOv.jpg  0.941078
1922   /gwda8CnPAfHGwygclGiKddt60fX.jpg  0.940887
27332  /8yR2CtjBD8TGzYj3P9YOr8m0tUX.jpg  0.940796
29792  /6qyVUkbDBuBOUVVplIDGaQf6jZL.jpg  0.939690
38940  /7Y46ehhvMDPpiNqfAY4CfKpyqqF.jpg  0.938418


Getting recommendations for: The Avengers
                                   title release_date  \
27819           Spooks: The Greater Good   2015-04-11
27842                      Some Girls Do   1969-01-23
25884            The Castle of Fu Manchu   1969-05-29
2233                           Lifeforce   1985-06-20
13965                    Sherlock Holmes   2009-12-23
7571   The Adventures of Sherlock Holmes   1939-09-01
39602                     Malibu Express   1985-03-01
21171        MacGyver: Trail to Doomsday   1994-11-24
924                         The 39 Steps   1935-06-01
9562                 If Looks Could Kill   1991-03-15

                            poster_path     score
27819  /mCu8mJRbBD8x187A5WserM9YhOr.jpg  0.951322
27842  /mPrzx8xvF05jn42ueLxKpZSjW96.jpg  0.946569
25884  /pZARi8Zx33JsiAZQCZJPzWrPYjV.jpg  0.945856
2233   /l9R0w3CzF2YCTZTlAZt1E3k2qNy.jpg  0.944664
13965  /22ngurXbLqab7Sko6aTSdwOCe5W.jpg  0.943953
7571   /5IfzofrpSlwgfQG8rUOpHXNAawP.jpg  0.942554
39602  /AfswR9Qh9SNHIqwpQeasALM4Ugf.jpg  0.941766
21171  /3uSzCU0CtigQI0W2EcovoVcKAuJ.jpg  0.941582
924    /9v283GWj9a0AC8wwC4zriNqY1lZ.jpg  0.940870
9562   /3h95RW1sK5xbo0jEB8uqHT2Dvnk.jpg  0.940452


Getting recommendations for: The Bourne Identity
                      title release_date                       poster_path  \
31769      The Double O Kid   1992-09-07  /5kjeB1r4vNeDmE7SdgqBGUSTyyI.jpg
2749              The Limey   1999-05-15  /3WFYpRRP0sHc5XlWfUX7dv9mo5S.jpg
10735             Blackjack   1998-06-11  /miH1vLwWBaEevDvtU8M4nAqcFGi.jpg
8527               Mistress   1975-04-25  /sneCpK0oOJcIjXXmeLWbuk0izZy.jpg
19978           World War Z   2013-06-20   /Ha5t0J21eyiq6Az1EXzx0iwsGH.jpg
30126            Cyber Wars   2004-01-01  /m8DyuXYJibitUBJqrE3CcA8CPaT.jpg
36601           Darkest Day   2015-05-15  /cmxGHBqKNPhUnBTwX0badUKgSm9.jpg
35377  My Beloved Bodyguard   2016-04-01  /vchknQnBnexH2rEK3HjKPOEMI8v.jpg
475             Killing Zoe   1993-10-01  /jAnpPlUUhBqztIfCfg3OKsTYMhu.jpg
31252              Momentum   2015-08-01  /y5pIEHodpMNDdf0nzoR90Boa2nN.jpg

          score
31769  0.957235
2749   0.955725
10735  0.954886
8527   0.954857
19978  0.954664
30126  0.954651
36601  0.953251
35377  0.953160
475    0.952021
31252  0.951785


Getting recommendations for: The Devil Wears Prada
                             title release_date  \
40466           The Model Solution   2002-04-30
13038  Confessions of a Shopaholic   2009-02-05
13174           The Brothers Bloom   2008-09-09
32258             If the Shoe Fits   1990-12-12
5888                    Starstruck   1982-04-08
31236              Rock the Kasbah   2015-10-22
3054                   Down to You   2000-01-21
23997                        Gloss   2007-08-23
2341                   Spanish Fly   1998-09-10
27809            Just About Famous   2015-04-21

                            poster_path     score
40466  /bRaYNCtieUDtImwOlIO1AH4JU4Y.jpg  0.945639
13038  /8gCZJ8gOxd22Spz1MKiu4b54T2r.jpg  0.939915
13174  /xIz8iwzyjgWGzcIwHKpqhBs77ML.jpg  0.939497
32258  /y51DQdKJX8RCu4NWjufFITsbhNQ.jpg  0.936286
5888   /6Nb11Vp5AE2hX0shfWaY6cxzeOC.jpg  0.935196
31236  /7Ljch9R3uie8lV3z1GUUHZRkvKH.jpg  0.934409
3054   /qnT0Lf9ArebC4iGCAajVnWbbqKc.jpg  0.933977
23997  /jHjmMH27AoxneoqtL246FG3hee6.jpg  0.933911
2341   /boDTUyMS6lIMsXimpY5BOx4kxjM.jpg  0.933649
27809  /yGwWts7u5kFyT8tNEi8B07jGzjS.jpg  0.933630


Getting recommendations for: Mean Girls
                        title release_date                       poster_path  \
30251            The Outcasts   2017-04-14  /44jotbmLRwHSIcd4wVAYCVmli8D.jpg
12744   The King of Ping Pong   2008-01-18  /ngY3T8LmTAsVOI9Pehc04ZKtMnv.jpg
4559   Two Can Play That Game   2001-09-07  /nhKRxaO9KWLyyVBr3I5G5mfJtJT.jpg
25585                Expelled   2014-12-12  /9pPoQjHfSv9bQjubtRUdwvso2zE.jpg
18789        The Moth Diaries   2011-09-06  /lFWcxNFzoKXq7SCIhmD65ApeUA6.jpg
12531   My Best Friend's Girl   2008-09-19  /l6OAtXIo1xerbwo8xezvqr6s27Q.jpg
37444       Nightmare Sisters   1988-06-15  /9RYKrTFTG5nyxw1n1lqwbqNEV6M.jpg
29122          Love & Air Sex   2013-10-08  /mqvf2qhMvZdApYObih2fiJszA0E.jpg
24422            Picture This   2008-07-13  /nW9MzfiqwVMloUAJibXKE29JD8C.jpg
15143                  Easy A   2010-09-10  /1pgPO3OfSm2inpODMqg2RNmLW90.jpg

          score
30251  0.957187
12744  0.957070
4559   0.956243
25585  0.955502
18789  0.954354
12531  0.953139
37444  0.953019
29122  0.952952
24422  0.952919
15143  0.952739


Getting recommendations for: Sex and the City
                    title release_date                       poster_path  \
7487     I Love You Again   1940-08-09  /h9HL2QLEXieYCRP5SzEXsz4ZcQ7.jpg
875          My Fair Lady   1964-10-21  /AiyysCDn0l5SHO5dTGHsrKjPBN8.jpg
11596   The Nanny Diaries   2007-08-24  /vaARLtfmTHbNpcZycgYLV62M7ye.jpg
720         A Close Shave   1995-12-24  /efFW4euBJIha6WVJoBPSfyui2Aa.jpg
25867  Mother, I Love You   2013-02-11  /1g06sLynd45BLWarebJIR5frLuj.jpg
10459              London   2005-02-10  /pnTRNDfdxdyx2tYKrTPlO3rcKk4.jpg
26278     Home Sweet Hell   2015-03-13  /pFKQZliM8kTv0cGSbvOaCfptUHk.jpg
11039   The Facts of Life   1960-11-14  /oIdIVz8Avn3l7r29G7SurEJzjSa.jpg
14191      Vivacious Lady   1938-08-31  /xyCdblCxFRpaxpHg5RnFXgGDQ0W.jpg
28963               ChloÃ©   1996-01-01  /pj8dBzfGYnCBQK9l0diovSlxdlS.jpg

          score
7487   0.963476
875    0.962660
11596  0.962158
720    0.961879
25867  0.961453
10459  0.961447
26278  0.960931
11039  0.960774
14191  0.960668
28963  0.960297


Getting recommendations for: Mission: Impossible - Ghost Protocol
                                                   title release_date  \
35107  Martian Successor Nadesico: The Motion Picture...   1998-08-01
32274                         Mega Shark vs. Mecha Shark   2014-01-28
6604                                            Returner   2002-08-31
10304                                      The Ambushers   1967-12-22
7946               Sky Captain and the World of Tomorrow   2004-09-17
36764            Broken Blade: Book Two - The Split Path   2010-06-26
7865                                        Thunderbirds   2004-07-23
1194                                           Bad Taste   1987-12-01
2400                                      Wing Commander   1999-03-11
2381                      Beneath the Planet of the Apes   1970-05-01

                            poster_path     score
35107  /sI7zPNUUAeVPksuelYcv1CIrzsG.jpg  0.950577
32274  /aD8VXYRfwJbeXOBRhuZR2PJ2FHC.jpg  0.950087
6604   /wwLrsjmzkZtb8gib2AaR5dLCCyV.jpg  0.947886
10304  /rs1qDkJZsG5ubtONMtdfnaVzl7u.jpg  0.947258
7946   /7tO8s7n6Hga2y0NIUT0aoGQelPG.jpg  0.947042
36764  /9scWJkRwBKlFCLWU3juCUHtgvfO.jpg  0.946953
7865   /4rv0fgJkPnzlDmhaANC72ipz9MT.jpg  0.946321
1194   /wopLobnRKqvxA4yycQIvquMx1yn.jpg  0.946077
2400   /pdNhh937iErsAzR6h7pt2mQmclO.jpg  0.945912
2381   /qnJ2trS7tcHxmG4KIUMgAbIM9DG.jpg  0.945871