# Content Based Movie Recommender

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import WhitespaceTokenizer
import pickle
import math

nltk.download('wordnet')
nltk.download("stopwords")
nltk.download("omw-1.4")

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

### Read in dataset

In [2]:
metadata_path = r"./movie_lens_dataset/movies_metadata.csv"

In [3]:
df = pd.read_csv(metadata_path, low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Preprocessing

In [4]:
print("Number of movies:", len(df))

Number of movies: 45466

In [5]:
print("Number of null overviews:", df['overview'].isnull().sum())

Number of null overviews: 954

### Removing rows with null or empty overviews

In [6]:
df = df[df['overview'].notna()]
print("Number of non-null overviews", len(df))

Number of non-null overviews 44512

### Removing punctuations

In [7]:
df['overview'] = df['overview'].str.replace(r'[^\w\s]+', '')
df.head()

/var/folders/wr/ks4hpqm923n7m02r_q7vsjh80000gn/T/ipykernel_74368/193765394.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['overview'] = df['overview'].str.replace(r'[^\w\s]+', '')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,Led by Woody Andys toys live happily in his ro...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,Cheated on mistreated and stepped on the women...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Tokenizing words
Don't run this if using sklearn lib

In [8]:
# w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
# df['overview'] = df['overview'].apply(lambda x: w_tokenizer.tokenize(x))
# df.head()

### Making all words lower case

In [9]:
# df['overview'] = df['overview'].apply(lambda x: [word.lower() for word in x])
df['overview'] = df['overview'].apply(lambda x: " ".join([word.lower() for word in x.split()]))
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led by woody andys toys live happily in his ro...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,when siblings judy and peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,a family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated on mistreated and stepped on the women...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,just when george banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Removing stopwords from overview

In [11]:
stop = stopwords.words ('english')
df['overview'] = df['overview'].apply(lambda x: " ".join([word for word in x.split() if word not in (stop)]))
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led woody andys toys live happily room andys b...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,siblings judy peter discover enchanted board g...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,family wedding reignites ancient feud nextdoor...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated mistreated stepped women holding breat...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,george banks recovered daughters wedding recei...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Lemmatization

In [12]:
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return " ".join([lemmatizer.lemmatize(w) for w in text.split()])

df['overview'] = df['overview'].apply(lemmatize_text)

df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led woody andys toy live happily room andys bi...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,sibling judy peter discover enchanted board ga...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,family wedding reignites ancient feud nextdoor...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated mistreated stepped woman holding breat...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,george bank recovered daughter wedding receive...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Removing empty overviews

In [13]:
df = df[df['overview'] != ""]

Dropping duplicates

In [14]:
df = df.drop_duplicates("title")

In [15]:
df = df[df['overview'].notna()]
print("Number of non-null overviews", len(df))

Number of non-null overviews 41368

In [16]:
print("Number of null overviews:", df['overview'].isnull().sum())

Number of null overviews: 0

Resetting index

In [17]:
df = df.reset_index()

Saving the dataframe to a preprocessed csv

In [22]:
df.to_csv('./movie_lens_dataset/movies_metadata_processed.csv')
print("Processed csv saved!")

Processed csv saved!

# Generating TFIDF from dataset and serializing using pickle
Serializing allows us to save time for re-generation of the index.

Using sklearn library which runs way faster

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df['overview'])
tfidf_matrix = tfidf_matrix.astype(np.float32)

with open('./pickle/tfidf_matrix.pickle', 'wb') as handle:
    pickle.dump(tfidf_matrix, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Index saved!")

Index saved!

Loading matrix

In [23]:
with open('./pickle/tfidf_matrix.pickle', 'rb') as handle:
    tfidf_matrix = pickle.load(handle)
    print("Index loaded!")

Index loaded!

In [24]:
tfidf_matrix.shape

(41368, 80925)

# Creating cosine similarity model

The cosine similarity model is a (41368, 41368) matrix consisting of cosine similarity scores of all movies against each other.

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

cosine_sim.shape

(41368, 41368)

In [26]:
with open('./pickle/cosine_sim_.pickle', 'wb') as handle:
    pickle.dump(cosine_sim, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Cosine Similarity model saved!")

Cosine Similarity model saved!

# Getting recomendations

In [3]:
cosine_sim_file = open('./pickle/cosine_sim_.pickle', 'rb')
cos_sim = pickle.load(cosine_sim_file)
print("Consine Similiarity Model loaded")

Consine Similiarity Model loaded

In [28]:
test_movie = "The Matrix"

Create movie title to index series and save it to pickle

In [4]:
indices = pd.Series(df.index, index=df['title'])
with open('./pickle/movie_indices.pickle', 'wb') as handle:
    pickle.dump(indices, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Indices saved!")

NameError: name 'df' is not defined

Load indices

In [5]:
with open('./pickle/movie_indices.pickle', 'rb') as handle:
    indices = pickle.load(handle)
    print("Indices loaded!")

Indices loaded!

Load processed df

In [10]:
df = pd.read_csv('./movie_lens_dataset/movies_metadata_processed.csv', low_memory=False)
df.head()

,Unnamed: 0,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
import pickle
import pandas as pd
def getTfIdfRecommendations(name: str, cosine_sim, movie_indices, df):
    print("Getting recommendations for:", name)

    # Get index of query movie
    movie_index = movie_indices[name]
    
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=['score'])
    
    # Top 10
    top_indices = similarity_scores.sort_values(by="score", ascending=False)[1:11].index
    
    # Get movie title, release date and poster path
    output = df[['title', 'release_date', 'poster_path']].iloc[top_indices]

    output['score'] = similarity_scores.sort_values(by="score", ascending=False)['score'][1:11]

    output.to_csv('./output/tfidf/{}.csv'.format(name))
    
    return output

# Evaluation Set
For the evaluation we will use 20 random movies and calculate the MAP score of the results returned.

In [14]:
getTfIdfRecommendations('The Dark Knight Rises', cos_sim, indices, df)

Getting recommendations for: The Dark Knight Rises

,title,release_date,poster_path,score
12039,The Dark Knight,2008-07-16,/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg,0.317351
1311,Batman Returns,1992-06-19,/jX5THE1yW3zTdeD9dupcIyQvKiG.jpg,0.257601
149,Batman Forever,1995-06-16,/eTMrHEhlFPHNxpqGwpGGTdAa0xV.jpg,0.250565
583,Batman,1989-06-23,/kBf3g9crrADGMc2AMAMlLBgSm2h.jpg,0.228145
14855,Batman: Under the Red Hood,2010-07-27,/78kjgspmLLOm2Glgpzqo9cS4GpI.jpg,0.220578
20038,Batman Unmasked: The Psychology of the Dark Kn...,2008-07-15,/jjHu128XLARc2k4cJrblAvZe0HE.jpg,0.208895
37445,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,2014-10-27,/qD3xyKbCsaaYYDhksWFxxsE1DWq.jpg,0.197668
19168,"Batman: The Dark Knight Returns, Part 2",2013-01-18,/wPeorCnD9MRR2S9Dzh4OpIgNLiv.jpg,0.185338
8964,Batman Beyond: Return of the Joker,2000-12-12,/vIRHN4AXaQM6mMVj8CozhtelYmF.jpg,0.182152
3042,Batman: Mask of the Phantasm,1993-12-25,/l4jaQjkgznu2Rz05X18f24UjPNW.jpg,0.178758

In [22]:
test_movies = ["Harry Potter and the Philosopher's Stone",
"The Matrix",
"The Dark Knight",
"Toy Story",
"The Avengers",
"The Bourne Identity",
"The Devil Wears Prada",
"Mean Girls",
"Sex and the City",
"Mission: Impossible - Ghost Protocol"]

In [25]:
for movie in test_movies:
    print(getTfIdfRecommendations(movie, cos_sim, indices, df))
    print("\n")

Getting recommendations for: Harry Potter and the Philosopher's Stone
                                              title release_date  \
3891                       Harry, He's Here To Help   2000-08-15
22118                                           Luv   1967-07-26
10223           Harry Potter and the Goblet of Fire   2005-11-05
7543       Harry Potter and the Prisoner of Azkaban   2004-05-31
5576        Harry Potter and the Chamber of Secrets   2002-11-13
17696                          A Very Potter Sequel   2010-07-22
11513     Harry Potter and the Order of the Phoenix   2007-06-28
35781                             Bullet to Beijing   1995-12-20
4303                                  The Dead Pool   1988-07-12
16623  Harry Potter and the Deathly Hallows: Part 2   2011-07-07

                            poster_path     score
3891   /pU5fsyBZUIFq4cqUB2X0vQD7HZQ.jpg  0.194070
22118  /tN3Puo62ozXUvmXKrxWYMusY45V.jpg  0.192886
10223  /6sASqcdrEHXxUhA3nFpjrRecPD2.jpg  0.191471
7543   /jUFjMoLh8T2CWzHUSjKCojI5SHu.jpg  0.181742
5576   /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg  0.176004
17696  /l14diLLp3Z5jrCev9S0SVVtwW9c.jpg  0.169993
11513  /4YnLxYLHhT4UQ8i9jxAXWy46Xuw.jpg  0.163934
35781  /fVRYedyckcRImRItAuCXvOTEvq5.jpg  0.163182
4303   /9ZUSqox9lIxN4xaYBac2QXMFcZj.jpg  0.157721
16623  /fTplI1NCSuEDP4ITLcTps739fcC.jpg  0.154916


Getting recommendations for: The Matrix
                                       title release_date  \
166                                  Hackers   1995-09-14
31212                              Algorithm   2014-07-19
40239                      A Detective Story   2003-04-01
22732                               Who Am I   2014-09-25
10590                                     23   1998-07-02
19594  Underground: The Julian Assange Story   2012-10-07
1909          The Computer Wore Tennis Shoes   1969-12-29
40048                                Alchemy   2005-04-25
41239                      Mr. Blot in Space   1988-12-05
24453                    Battle of the Stars   1978-02-17

                            poster_path     score
166    /uu62T87qkLkapeuu7ArlnQ6tAap.jpg  0.322304
31212  /wM2vAc9rq4dLc5nFZFMdbB7jmLj.jpg  0.305943
40239  /gfp0I1mMFGpRqEr188FOXOxTWou.jpg  0.293770
22732  /pOvTNdPmYsHXSFWSud9VIgRhLpL.jpg  0.269274
10590  /iKO6A0yqmoS8Gk0dQo8d9zIYLhV.jpg  0.257301
19594  /ifth4A9bgTsBLfOKt4MP59KIBoX.jpg  0.251377
1909   /9HaU0tDmjzA7MGlW8ZIj04S5Aul.jpg  0.228775
40048  /d7QTGUrM517ULOFypbMsC3ARIfD.jpg  0.221470
41239  /ogZyHLeupTifSq9ae4WaO9e0ynO.jpg  0.218293
24453  /e3uNcb2QThx9RtlUesDyXqe2ASr.jpg  0.212200


Getting recommendations for: The Dark Knight
                                                   title release_date  \
17358                              The Dark Knight Rises   2012-07-16
1311                                      Batman Returns   1992-06-19
14855                         Batman: Under the Red Hood   2010-07-27
19168            Batman: The Dark Knight Returns, Part 2   2013-01-18
20038  Batman Unmasked: The Psychology of the Dark Kn...   2008-07-15
37445  LEGO DC Comics Super Heroes: Batman: Be-Leaguered   2014-10-27
9808                                       Batman Begins   2005-06-10
149                                       Batman Forever   1995-06-16
38344  Batman Beyond Darwyn Cooke's Batman 75th Anniv...   2014-04-19
23681                                  Batman vs Dracula   2005-10-18

                            poster_path     score
17358  /dEYnvnUfXrqvqeRSqvIEtmzhoA8.jpg  0.317351
1311   /jX5THE1yW3zTdeD9dupcIyQvKiG.jpg  0.260064
14855  /78kjgspmLLOm2Glgpzqo9cS4GpI.jpg  0.238855
19168  /wPeorCnD9MRR2S9Dzh4OpIgNLiv.jpg  0.229017
20038  /jjHu128XLARc2k4cJrblAvZe0HE.jpg  0.225937
37445  /qD3xyKbCsaaYYDhksWFxxsE1DWq.jpg  0.221300
9808   /dr6x4GyyegBWtinPBzipY02J2lV.jpg  0.200175
149    /eTMrHEhlFPHNxpqGwpGGTdAa0xV.jpg  0.199827
38344   /htStH5hUh823rKRaFfccGxpD4N.jpg  0.199272
23681  /vPr6t2stb4NJ54151ms5xu8bykP.jpg  0.191172


Getting recommendations for: Toy Story
                        title release_date                       poster_path  \
2945              Toy Story 2   1999-10-30  /3CmK3XurcLeUyMifCR28ibzupbB.jpg
14703             Toy Story 3   2010-06-16  /mMltbSxwEdNE4Cv8QYLpzkHWTDo.jpg
23023               Small Fry   2011-11-23   /4deuIpnrXuzMAggQk19Jk81CST.jpg
16397               Group Sex   2010-08-24  /4mNUWTVathZZtOIFrakwYiUzaVy.jpg
483                    Malice   1993-09-29  /dlTWhgLHdEgSmCa8nEFgN7Hfu05.jpg
1056    Rebel Without a Cause   1955-10-27  /bEAoNvtqvO0c2lItNkKlKUqhPuw.jpg
1910                Condorman   1981-07-02  /abgxJPCU2AAxP4kSdvdWCU6qr6r.jpg
11014  For Your Consideration   2006-11-22  /lLSeBuqgWYJ4MZt18prqtWRTlof.jpg
1017            The Sunchaser   1996-05-29  /8b7rrZx50M0mhmRFlY2zXl6Kk7N.jpg
6319   What's Up, Tiger Lily?   1966-11-02  /AcU8gPPmceM4uUTbAHLwvREDy0o.jpg

          score
2945   0.437975
14703  0.414677
23023  0.269392
16397  0.198718
483    0.186684
1056   0.171968
1910   0.154619
11014  0.142607
1017   0.125350
6319   0.124371


Getting recommendations for: The Avengers
                                 title release_date  \
36952           The Work and the Glory   2004-11-24
1084   Monty Python and the Holy Grail   1975-03-13
23629              Sir Arne's Treasure   1919-09-18
31703                     Cheap Smokes   2000-01-05
11796              That Hamilton Woman   1941-04-03
23548               Doctor in Distress   1963-07-30
28252   The Ultimate Christmas Present   2000-12-01
25131             Grand Central Murder   1942-05-01
15854             The Girl by the Lake   2007-09-14
7147                    The Nasty Girl   1990-02-15

                            poster_path     score
36952  /8H9hz3fsJpQsY5lUDloCWOuwoTW.jpg  0.275716
1084   /jRx1nDUA4sb2NEKQaukXKBz6pCf.jpg  0.160541
23629  /i9w1nkdNEgsmGlqFQBHdjMSMDNL.jpg  0.160211
31703  /5YGGCwzmbcep2rIRKEiqaaSewdA.jpg  0.154053
11796  /mWwIwq3WeCO8xmQfEyrSCkaVdJi.jpg  0.148096
23548  /7TNMQ8zBwNotmUVbmJARvlwVkvz.jpg  0.141734
28252  /4bonUj2piN0uEn2m3C8qBDRyyyP.jpg  0.140917
25131  /ewkBjrJbQyMbXYbZ9bSut6qbFsR.jpg  0.138535
15854  /aWOyg7W5zZ6taccvyf3pdkBNBs7.jpg  0.138311
7147   /oNZYn9BwucoJ001qFanFesuxaIi.jpg  0.137440


Getting recommendations for: The Bourne Identity
                                      title release_date  \
7750                   The Bourne Supremacy   2004-07-23
17361                     The Bourne Legacy   2012-08-08
11548                  The Bourne Ultimatum   2007-08-03
18166                                  ID:A   2011-11-24
34771              The Mark of the Whistler   1944-10-09
8924                             Essex Boys   2000-07-14
1848   Friday the 13th Part VI: Jason Lives   1986-08-01
20909                              scissere   1982-09-13
32807                     Morning Departure   1950-02-21
31276                    Taste of Vengeance   1969-09-22

                            poster_path     score
7750   /jXwZgmqOtsqsXuB9oGhocOAegCM.jpg  0.271483
17361  /AnKnLsybNhnibvA3mba1ct9Nnb6.jpg  0.243450
11548  /fHho6JYYY0nRcETWSoeI19iZsNF.jpg  0.232550
18166  /p4ueR0dbCdyEc0MpcxRFr7NNo9G.jpg  0.124772
34771  /bpPt71dn0OhXg6wmpfaLPJRi8wM.jpg  0.121107
8924   /utskEljHWucO6lFsZLvWrRIE8c6.jpg  0.119102
1848   /le636yjPeWkC74nPDIZiQBH1CVt.jpg  0.115664
20909  /mP8TqVyiBrRDpM6LXif3V4xGayJ.jpg  0.110677
32807  /qKFdh6IuGDzuF3RN1JRylApMGgA.jpg  0.110512
31276  /98W41XnEz5zP6x1KK6w8NffL9El.jpg  0.109202


Getting recommendations for: The Devil Wears Prada
                                       title release_date  \
24034                            Miss Minoes   2001-12-06
24184             In Vogue: The Editor's Eye   2012-12-06
6800                          The Front Page   1974-12-01
13038            Confessions of a Shopaholic   2009-02-05
23781                             Shy People   1987-05-01
37845                           Food Choices   2016-04-21
36645                            Housefull 3   2016-06-03
8932                           Beautiful Joe   2000-06-09
12500  How to Lose Friends & Alienate People   2008-10-02
6111                          Down with Love   2003-05-08

                            poster_path     score
24034  /37pkYtmLY58udyTGI0JhXwgDTXk.jpg  0.188891
24184  /jzBhQ7RJkaOt0uqxejg1zuDxV4U.jpg  0.187028
6800   /x8jYmf9Y8npVGojZDE7Bnrtrfbt.jpg  0.186010
13038  /8gCZJ8gOxd22Spz1MKiu4b54T2r.jpg  0.171303
23781  /7XOyZGy52T8oQ1LPFgLEqPZCswC.jpg  0.168734
37845  /ljRo1KuVzYm0s2ydYACv4UpQyRX.jpg  0.159296
36645  /6Udose5F7a9SdNf8HlNMovtDMM9.jpg  0.157336
8932   /vDQoe70TKkRuSjdYEccJm1QoQ0A.jpg  0.155040
12500  /gIqp469K4w7158Zg0VqNdfo3qDk.jpg  0.152308
6111   /x045RokNPRTxi4KOFiLVGAKtWkb.jpg  0.146128


Getting recommendations for: Mean Girls
                                                   title release_date  \
18281                                             Bag It   2011-09-01
11131                                               Time   2006-06-30
10383                                     A Woman's Face   1941-05-09
33082                                     Plastic Planet   2009-09-15
33894                                          Schoffies   2006-12-06
26329                                        Plastic Bag   2009-09-07
25698                                     Shirin in Love   2014-03-14
13240                                         The Clique   2008-11-11
26084                                Addicted to Plastic   2008-10-04
26599  Plastic Paradise: The Great Pacific Garbage Patch   2013-04-22

                            poster_path     score
18281  /dpTlmsZ9H54AvTjYqwBCK4WRvPH.jpg  0.221710
11131  /5NNAvZ7NrV9PnQgarMuaTyGIbxS.jpg  0.220412
10383  /oWuna2tRakSI7sKjqEdXEkHneyz.jpg  0.206146
33082  /cYIZiUREc6tZiU1OEWL7gcGspg5.jpg  0.198900
33894  /oNGAfAbJQKdDcLDfPzHTzY6Rmo7.jpg  0.185198
26329  /kJwDoVY96Xbk1aVldBTedKsAT6X.jpg  0.175904
25698  /eArHpgmfZXD6D0uUVYgVfvodZdS.jpg  0.172266
13240  /fAXXLPH69HCcd9zJz7ekKySgrwm.jpg  0.167885
26084  /3ToH7ehCaId4hvQPJ8PdKC6WDcf.jpg  0.167173
26599  /yriiuhkHOL2AAjuv6YmqoEAv0mH.jpg  0.160666


Getting recommendations for: Sex and the City
                          title release_date  \
27741    Roald Dahl's Esio Trot   2015-01-02
822          Crows and Sparrows   1949-01-01
2827           Live and Let Die   1973-07-05
7174        Pride and Prejudice   1940-07-26
1042             Reservoir Dogs   1992-09-02
38425        Summer in the City   2016-08-13
29405  Requiem For The Big East   2014-03-16
2275    The Karate Kid, Part II   1986-06-18
30565         Fuck You Goethe 2   2015-09-10
37499             Merry In-Laws   2012-12-08

                            poster_path     score
27741  /jubNEvsL40rY1xPO3uOIFLbXXS3.jpg  0.231591
822    /chz5wJezJZVsMZZXPATxwKwv6Wc.jpg  0.231140
2827   /p34OScaro2KdISrT4EMfeh1aS0E.jpg  0.229061
7174   /71zCG98zESZni0vyIJ6DwHZqOSO.jpg  0.214672
1042   /tB2ITHg556e7aTV6cqQqVAXkdxN.jpg  0.203096
38425  /2ED4mccd7AiTarVIUvBE8qfxE7l.jpg  0.202758
29405  /iMuDP5eKZQ0yG1fgFkkxxsMPP3J.jpg  0.193087
2275   /4zmEPGKrD3sgjHZUs99tknEBaJy.jpg  0.178106
30565  /4jI6sIScJXMNyXxxloSfGqXckRj.jpg  0.171777
37499  /dM4z2N4vrchRgBxWgbciwj43htU.jpg  0.170620


Getting recommendations for: Mission: Impossible - Ghost Protocol
                                         title release_date  \
22087       Mission: Impossible - Rogue Nation   2015-07-23
10594                  Mission: Impossible III   2006-05-03
3446                    Mission: Impossible II   2000-05-24
17741                             Act of Valor   2012-02-24
18294  The President's Man: A Line in the Sand   2002-01-01
373                                  True Lies   1994-07-14
33599                         Melody on Parade   1936-06-17
24340                                Java Heat   2013-03-06
24938                  Project Shadowchaser II   1994-05-14
34354                            The Bogus Man   1980-01-01

                            poster_path     score
22087  /z2sJd1OvAGZLxgjBdSnQoLCfn3M.jpg  0.220360
10594  /qjy8ABAbWooV4jLG6UjzDHlv4RB.jpg  0.194467
3446   /eRaEC0vf5q5TSvaoJPwGTt2wa9T.jpg  0.156923
17741  /hauipCFK2iybZqL1JqhdyakrZWO.jpg  0.155027
18294  /5oH7iAnRknuILV8hpdmHIiY0AB4.jpg  0.154647
373    /mTAHr5h5i64hTLqo0cW2X2083Cx.jpg  0.145188
33599                               NaN  0.134433
24340  /cavBAymYCPl7clbnN2pCKkaB6a8.jpg  0.123226
24938  /xOFPjMyzBG17wEyyFvnTCF6rKnp.jpg  0.122877
34354  /tEHQdcNBCObbqKHr1OiGPqCebWx.jpg  0.119092