# Content Based Movie Recommender

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import WhitespaceTokenizer
import pickle
import math

nltk.download('wordnet')
nltk.download("stopwords")
nltk.download("omw-1.4")

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/tiongshankai/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

### Read in dataset

In [2]:
metadata_path = r"./movie_lens_dataset/movies_metadata.csv"

In [3]:
df = pd.read_csv(metadata_path, low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Preprocessing

In [4]:
print("Number of movies:", len(df))

Number of movies: 45466

In [5]:
print("Number of null overviews:", df['overview'].isnull().sum())

Number of null overviews: 954

### Removing rows with null or empty overviews

In [6]:
df = df[df['overview'].notna()]
print("Number of non-null overviews", len(df))

Number of non-null overviews 44512

### Removing punctuations

In [7]:
df['overview'] = df['overview'].str.replace(r'[^\w\s]+', '')
df.head()

/var/folders/wr/ks4hpqm923n7m02r_q7vsjh80000gn/T/ipykernel_74368/193765394.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['overview'] = df['overview'].str.replace(r'[^\w\s]+', '')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,Led by Woody Andys toys live happily in his ro...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,Cheated on mistreated and stepped on the women...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Tokenizing words
Don't run this if using sklearn lib

In [8]:
# w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
# df['overview'] = df['overview'].apply(lambda x: w_tokenizer.tokenize(x))
# df.head()

### Making all words lower case

In [9]:
# df['overview'] = df['overview'].apply(lambda x: [word.lower() for word in x])
df['overview'] = df['overview'].apply(lambda x: " ".join([word.lower() for word in x.split()]))
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led by woody andys toys live happily in his ro...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,when siblings judy and peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,a family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated on mistreated and stepped on the women...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,just when george banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Removing stopwords from overview

In [11]:
stop = stopwords.words ('english')
df['overview'] = df['overview'].apply(lambda x: " ".join([word for word in x.split() if word not in (stop)]))
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led woody andys toys live happily room andys b...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,siblings judy peter discover enchanted board g...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,family wedding reignites ancient feud nextdoor...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated mistreated stepped women holding breat...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,george banks recovered daughters wedding recei...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Lemmatization

In [12]:
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return " ".join([lemmatizer.lemmatize(w) for w in text.split()])

df['overview'] = df['overview'].apply(lemmatize_text)

df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led woody andys toy live happily room andys bi...,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,sibling judy peter discover enchanted board ga...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,family wedding reignites ancient feud nextdoor...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,cheated mistreated stepped woman holding breat...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,george bank recovered daughter wedding receive...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Removing empty overviews

In [13]:
df = df[df['overview'] != ""]

Dropping duplicates

In [14]:
df = df.drop_duplicates("title")

In [15]:
df = df[df['overview'].notna()]
print("Number of non-null overviews", len(df))

Number of non-null overviews 41368

In [16]:
print("Number of null overviews:", df['overview'].isnull().sum())

Number of null overviews: 0

Resetting index

In [17]:
df = df.reset_index()

Saving the dataframe to a preprocessed csv

In [22]:
df.to_csv('./movie_lens_dataset/movies_metadata_processed.csv')
print("Processed csv saved!")

Processed csv saved!

# Generating TFIDF from dataset and serializing using pickle
Serializing allows us to save time for re-generation of the index.

Using sklearn library which runs way faster

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df['overview'])
tfidf_matrix = tfidf_matrix.astype(np.float32)

with open('./pickle/tfidf_matrix.pickle', 'wb') as handle:
    pickle.dump(tfidf_matrix, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Index saved!")

Index saved!

Loading matrix

In [23]:
with open('./pickle/tfidf_matrix.pickle', 'rb') as handle:
    tfidf_matrix = pickle.load(handle)
    print("Index loaded!")

Index loaded!

In [24]:
tfidf_matrix.shape

(41368, 80925)

# Creating cosine similarity model

The cosine similarity model is a (41368, 41368) matrix consisting of cosine similarity scores of all movies against each other.

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

cosine_sim.shape

(41368, 41368)

In [26]:
with open('./pickle/cosine_sim_.pickle', 'wb') as handle:
    pickle.dump(cosine_sim, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Cosine Similarity model saved!")

Cosine Similarity model saved!

# Getting recomendations

In [3]:
cosine_sim_file = open('./pickle/cosine_sim_.pickle', 'rb')
cos_sim = pickle.load(cosine_sim_file)
print("Consine Similiarity Model loaded")

Consine Similiarity Model loaded

In [28]:
test_movie = "The Matrix"

Create movie title to index series and save it to pickle

In [4]:
indices = pd.Series(df.index, index=df['title'])
with open('./pickle/movie_indices.pickle', 'wb') as handle:
    pickle.dump(indices, handle, protocol=pickle.HIGHEST_PROTOCOL)
    print("Indices saved!")

NameError: name 'df' is not defined

Load indices

In [5]:
with open('./pickle/movie_indices.pickle', 'rb') as handle:
    indices = pickle.load(handle)
    print("Indices loaded!")

Indices loaded!

Load processed df

In [10]:
df = pd.read_csv('./movie_lens_dataset/movies_metadata_processed.csv', low_memory=False)
df.head()

,Unnamed: 0,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
import pickle
import pandas as pd
def getTfIdfRecommendations(name: str, cosine_sim, movie_indices, df):
    print("Getting recommendations for:", name)

    # Get index of query movie
    movie_index = movie_indices[name]
    
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=['score'])
    
    # Top 10
    top_indices = similarity_scores.sort_values(by="score", ascending=False)[1:11].index
    
    # Get movie title, release date and poster path
    output = df[['title', 'release_date', 'poster_path']].iloc[top_indices]

    output['score'] = similarity_scores.sort_values(by="score", ascending=False)['score'][1:11]

    output.to_csv('./output/tfidf/{}.csv'.format(name))
    
    return output

# Evaluation Set
For the evaluation we will use 20 random movies and calculate the MAP score of the results returned.

In [14]:
getTfIdfRecommendations('The Dark Knight Rises', cos_sim, indices, df)

Getting recommendations for: The Dark Knight Rises

,title,release_date,poster_path,score
12039,The Dark Knight,2008-07-16,/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg,0.317351
1311,Batman Returns,1992-06-19,/jX5THE1yW3zTdeD9dupcIyQvKiG.jpg,0.257601
149,Batman Forever,1995-06-16,/eTMrHEhlFPHNxpqGwpGGTdAa0xV.jpg,0.250565
583,Batman,1989-06-23,/kBf3g9crrADGMc2AMAMlLBgSm2h.jpg,0.228145
14855,Batman: Under the Red Hood,2010-07-27,/78kjgspmLLOm2Glgpzqo9cS4GpI.jpg,0.220578
20038,Batman Unmasked: The Psychology of the Dark Kn...,2008-07-15,/jjHu128XLARc2k4cJrblAvZe0HE.jpg,0.208895
37445,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,2014-10-27,/qD3xyKbCsaaYYDhksWFxxsE1DWq.jpg,0.197668
19168,"Batman: The Dark Knight Returns, Part 2",2013-01-18,/wPeorCnD9MRR2S9Dzh4OpIgNLiv.jpg,0.185338
8964,Batman Beyond: Return of the Joker,2000-12-12,/vIRHN4AXaQM6mMVj8CozhtelYmF.jpg,0.182152
3042,Batman: Mask of the Phantasm,1993-12-25,/l4jaQjkgznu2Rz05X18f24UjPNW.jpg,0.178758

In [15]:
import random
random.seed(1997)
a = []
for i in range(20):
    a.append(random.randint(0,len(df)))
test_movies = indices.iloc[a]

In [16]:
test_movies

title
The First Beautiful Thing            15431
Vice Versa                            4364
As Good As Dead                      14492
Carousel                              8287
Julia Sweeney - Letting Go of God    14514
Crac                                 25594
A Bullet for the General             21621
Paradh                               28813
Night People                         16127
The American                         15039
X-Men                                 3613
Legalese                             26504
The Day                              18721
Kamchatka                            11226
Champagne                             2086
Magnum Cop                           26200
The Master: A Lego Ninjago Short     38665
Bad Santa                             6673
Dirty Girl                           15238
Aliyah                               21428
dtype: int64

In [18]:
for movie, movieId in test_movies.iteritems():
    print(getTfIdfRecommendations(movie, cos_sim, indices, df))
    print("\n")

Getting recommendations for: The First Beautiful Thing
                                   title release_date  \
37663      The Club of the Misunderstood   2014-12-25
128                    Frankie Starlight   1995-11-22
36003                  Adult Life Skills   2016-06-24
10959           The Elementary Particles   2006-02-10
20827                                Ida   2013-10-25
31906                   In the Grayscale   2015-03-06
10976  After Five In The Forest Primeval   1995-09-30
28989                     Buried Secrets   1996-11-04
18989                         Fresh Bait   1995-03-08
34364                             Action   1980-01-04

                            poster_path     score
37663  /dZK6jvtJDKPeeUQTMmlqxHDN5Ar.jpg  0.184618
128    /1cPX7MWnEYG21tSdEpWlFygZUwY.jpg  0.184579
36003  /1Vlh4tnBH0F28myoTNdVhNBAAln.jpg  0.171797
10959  /lDmFUWI0xtA9updU0WWfzE0LmA0.jpg  0.168016
20827  /aO8dgaxaY1tcAdtFkLuz1WSxgdd.jpg  0.167844
31906  /66DyhgynaxbiCo57lnVab6EdpMl.jpg  0.166271
10976  /zDW6g1Abj5rkeqP5c12xxlmScGy.jpg  0.160994
28989  /3XqC2WX0XW1vzC2uEWqx8FAFAwY.jpg  0.160344
18989  /fb8M31TFUwiByAXk9PfCqlEx3RH.jpg  0.159810
34364  /fHMKLrxl9YBOxgVovxoF4qKWkX0.jpg  0.159533


Getting recommendations for: Vice Versa
                            title release_date  \
41090                 Mom or Dad?   2017-02-14
4268                    18 Again!   1988-04-08
12057                  Slipstream   2007-02-10
10767                  Miami Vice   2006-07-27
4323   The Lair of the White Worm   1988-09-14
29609               The Skulls II   2002-04-09
30590              Death Machines   1976-09-14
13658                   Yatterman   2009-02-06
28135          Blackie the Pirate   1971-03-12
17657                 Monstrosity   1963-09-01

                            poster_path     score
41090  /qsBBkrDZkJoD9xHm7dlMsqCjyUl.jpg  0.314787
4268   /v1q2fNb87xpmo1O71Jt7VfC3Jqg.jpg  0.229828
12057  /iJwEQwhemh0EXl37f15KEE4qCkw.jpg  0.195043
10767  /3BsNsigWcET4tKLZZhJegw7eOjF.jpg  0.191713
4323   /sSNQFYOHkey0Yke2qR3y1Y7KX6e.jpg  0.188631
29609  /8KKSRseqzteQ6lUu4U48eUvHBpC.jpg  0.166753
30590  /f7VkN4LImZEsIWmTQYwhn85qSxG.jpg  0.160806
13658  /xQdoYQci95GLEp0HTuG56dBbRBF.jpg  0.159884
28135  /9xQusiwH3o3sSzHLjyjCjigXe5f.jpg  0.154123
17657  /cLOLq9nWKCoQbwcDgS9uidyRbyl.jpg  0.149379


Getting recommendations for: As Good As Dead
                             title release_date  \
8899                      Dil Se..   1998-08-22
11487                       Uranus   1990-12-12
27540          Hitcher in the Dark   1989-01-01
10351  Sympathy for Lady Vengeance   2005-07-29
21211              The Railway Man   2013-12-26
37462                    Mad Foxes   1981-01-01
18080                         Cord   2000-01-01
31469            The Devil's Honey   1986-08-14
39540          The Anatomy of Hate   2009-04-21
27985                   Domino Kid   1957-10-01

                            poster_path     score
8899   /pfEQqI471KmiuaxWMqhNCEVv022.jpg  0.181777
11487  /uzCfIeXnLxorK8tmi7VzbCJyDXs.jpg  0.175299
27540  /jWI9GOQHemeIRh4TRuqZAMom4TW.jpg  0.167300
10351  /vymGV0lscCGpaLjGyQhxkjq0jeg.jpg  0.163933
21211  /3iU9KLIhvc3pdl1SkeD0gv4BO0f.jpg  0.153306
37462  /d2Gz4QQfqkYzkqbI1E0qvH7uiLY.jpg  0.151622
18080  /1btRuHcDIC8a8yNhlIU8F0ZrPVk.jpg  0.135831
31469  /o8OuuUO1zECT8CV2ygEshrg5N2p.jpg  0.132290
39540  /6h6QMvBIwbXF2cS3L2v0sEGH3aG.jpg  0.130315
27985  /7wXAFbcemBKe3JDf1kVrvzmn14Z.jpg  0.126573


Getting recommendations for: Carousel
                                           title release_date  \
2409                              The King and I   1999-03-19
992                           The Sound of Music   1965-03-02
7184                                   Oklahoma!   1955-10-10
2262                          Cocoon: The Return   1988-09-13
36866                               Just for You   1952-09-27
37373                             Where Souls Go   2007-01-01
12215                   Steamboat Round the Bend   1935-09-06
34596                                 White Girl   2016-09-02
11273                           Flower Drum Song   1961-11-09
29830  It's A Bird, It's A Plane, It's Superman!   1975-02-21

                            poster_path     score
2409   /zUMBSExtVELo0zLuDoYKhTsYsag.jpg  0.193812
992    /459fPVvI4lkEV0piSfcq0irKHi8.jpg  0.193356
7184   /6EvptpeV4HV9xU9t3YnQ6PjhHZ0.jpg  0.168372
2262   /AkPcfRIZ1ZynIB2nnOOOWzHPOT9.jpg  0.145250
36866  /lLzy816t9PNBgPb0geslnZBU5k5.jpg  0.144972
37373  /yqHkkT7o8DQnpUNHimzFUgo7L5s.jpg  0.133543
12215  /6SlKCrGTunZ6V9AxkoQMBNYael2.jpg  0.116701
34596  /tbpza4ApPHcuYNpzXupWH60ZoKy.jpg  0.113084
11273  /mf7CVxwLu4BJSeG6SVcZ5PVG8EP.jpg  0.111066
29830  /nR9mGgSC5lDpk3lVdblCkF3Pp46.jpg  0.109850


Getting recommendations for: Julia Sweeney - Letting Go of God
                                      title release_date  \
2351                        God Said, 'Ha!'   1998-05-14
28807                            The Temple   2011-11-04
34087               Trying to Kiss the Moon   1994-08-11
25811                          Anotherworld   2008-01-08
7918                              Paparazzi   2004-09-03
25690                      The Last Diamond   2014-04-30
368                            Safe Passage   1994-12-01
10283  Wal-Mart: The High Cost of Low Price   2005-11-04
12968                           Dead Silent   1999-01-01
14969                            Lion's Den   2008-05-29

                            poster_path     score
2351   /nEcwFwKCsABvsvF2dOwNBs9IS1F.jpg  0.159999
28807  /cetWcHqbSopftDTGEnMNFlHtwiG.jpg  0.155409
34087                               NaN  0.149068
25811  /x4oDkF2bxLEp6O2APPkILr3Il9f.jpg  0.144054
7918   /jiMiZqO56mVfKK7amclP9aUrfuz.jpg  0.142871
25690  /nT9JFpsCEGSkJzu677iuiaEEqWj.jpg  0.139479
368     /3t8zDeD29iqjhz6k8OuvRizu8h.jpg  0.139020
10283  /6jh2yA236Dh6TX7hya0qbrnAQtK.jpg  0.137085
12968  /sWz5mkffXcywCuI3U1x1V4N8NKz.jpg  0.127558
14969  /bLVUPhLCBzEv9TGlvVmNh51ufPS.jpg  0.126348


Getting recommendations for: Crac
                            title release_date  \
41356            The One-Man Band   1900-01-01
23877         Mail Early for Xmas   1959-01-01
28047        Tommy Tucker's Tooth   1922-12-06
11000  All the Invisible Children   2005-09-01
15727                     Ghajini   2008-12-25
57               The Confessional   1995-09-29
33043           Maria Chapdelaine   1934-12-14
23880               A Chairy Tale   1957-12-31
5423     The Rocking Horse Winner   1949-11-30
38859                      Peluca   2003-01-20

                            poster_path     score
41356   /ZLOgI7KjtWby1NEg2pjU2Id60W.jpg  0.190780
23877  /kx5MAVhXFm7b5SDrGmV8VbPipvT.jpg  0.181476
28047  /fXul0oDbq7KrAnnn8eZf3OHwoZG.jpg  0.161019
11000  /A7WXYZn3RdDzNuBH5pJ22iVAkKC.jpg  0.159911
15727  /qACwdCtoaatv8qge2sSWlYpz3yN.jpg  0.150671
57     /8RCRrSAY8e3Qn5p9cNv188ogmZQ.jpg  0.134034
33043  /ixTJdXtgFNMSO9x3x39VcsmsFaq.jpg  0.126355
23880  /6290pDxPOe8XLIj7XDB3gCm66kj.jpg  0.126081
5423   /jpZjmc8Hg0jjrtQ1JPX0uGkGJ1q.jpg  0.121966
38859  /vmeWFnPSMZv9lGuhI0PMRlaopzC.jpg  0.121484


Getting recommendations for: A Bullet for the General
                                    title release_date  \
26562                     Bad Man's River   1971-12-03
11036             The Great Train Robbery   1903-12-01
18866             The Sleeping Car Murder   1965-11-17
34124                        The Lost Man   1969-07-11
21982                               Redes   1936-07-15
7328                     Duck, You Sucker   1971-10-20
23809                 The Return of Ringo   1965-12-08
38582  The Policeman of the 16th Precinct   2008-11-27
38454                     Cadena perpetua   1979-08-09
21357                             America   1924-02-21

                            poster_path     score
26562  /AvQXGOhwrcjmcLkHp1PRguHzABx.jpg  0.170306
11036  /yqbSyDmrcqKuF6xK98LtFwZA3qS.jpg  0.150288
18866  /1uUXAEnejQtXPzxzmvlLLrfjLBO.jpg  0.139851
34124  /fmhEgwWVBB7OBDZwyTlzvG8UrZ6.jpg  0.135198
21982  /wqfweTXOnfeOGNgnl3lUNIewcIe.jpg  0.131576
7328   /xkLaMyxUgWqmWYAw578p4HXSUDk.jpg  0.129873
23809  /4fyD3E7G9uTEAhGUtuqgnOp99g1.jpg  0.122682
38582  /d9NLtWv6tciHVR1QKDfwiQkfosU.jpg  0.121577
38454  /3lxRgMoRHus74x1kpgotmVAI5px.jpg  0.116987
21357  /2tBbqxlVDS40bkqLJBfQhEmEm2d.jpg  0.116816


Getting recommendations for: Paradh
                         title release_date                       poster_path  \
33515      The River and Death   1955-06-30  /omnrQP1xqpQ5X0DQGCfw2vPWD2b.jpg
2080             The Skin Game   1931-02-26  /oIAqrTSB42jWNlbW8Q5SLYwhO4Z.jpg
11495  The Power of Nightmares   2004-10-19  /zAQuTBSvWZEjUZnJPumyjE8gQR0.jpg
18417      Where Do We Go Now?   2011-05-16  /xRkzGCy3rNTrTPmFJ2CEWoVzqDC.jpg
12665           The Blue Light   1932-03-24  /5QeQvIinOiJPRht15bdeOlAJaCD.jpg
23592                 The Fake   2013-11-21  /gcSsEKxGinzyaGXkbo0iKVwHb4G.jpg
33804           Tears for Sale   2008-01-30  /3XfS6rG1Az6CCBXXGDaz2TDJTbM.jpg
39960    Kolya - Rolling Stone   2005-10-13  /sP1WlytVsLbRLS1cr3Exv9vK9Pa.jpg
28862        The Good Mistress   2014-02-15  /7YXIzlgfAEsTN3Ebqkny5BypLgQ.jpg
9350          The Mortal Storm   1940-06-14  /tGfDVxfcNRN3dvQUDW4VYCpNQOv.jpg

          score
33515  0.149711
2080   0.120243
11495  0.115511
18417  0.115414
12665  0.112033
23592  0.109768
33804  0.109386
39960  0.107276
28862  0.106973
9350   0.106427


Getting recommendations for: Night People
                                  title release_date  \
28987                  The Chaos Factor   2000-01-01
24910  They Fought for Their Motherland   1975-11-01
19438                         Verboten!   1959-03-25
32454                     Assassins Run   2013-04-22
15411                    Thieves by Law   2010-04-22
28089                    The Double Man   1967-04-25
31523                    To Catch a Spy   1971-09-06
15686                           C(r)ook   2004-11-11
1206           The Manchurian Candidate   1962-10-24
14049                       Last Resort   2000-02-23

                            poster_path     score
28987  /qmvuSFnAikGCHAIVQags8K7NgXW.jpg  0.271311
24910  /nz1KnUSC1PU9XLgrHLs75mHZaNa.jpg  0.215223
19438  /1RHbfqRJ8f6Mlyx6efqsdhI8KF4.jpg  0.201153
32454  /9PivERaRZwxeSm9StmntQw5tw9V.jpg  0.197088
15411  /bRHkGbfZjTni8XxayGW8Inqyi4k.jpg  0.195646
28089  /4Layn44z1sCDyFYthlJQP2q1m49.jpg  0.193366
31523  /wqKcCGhKpp4AL6DAj2TVmDplQlP.jpg  0.187025
15686  /73QtUI8De4hflEgL5KXHp4UCpvd.jpg  0.178090
1206   /4LlR1NazZLhD55podBd7VAUGyTp.jpg  0.174173
14049  /cUGSbHzTOvoujTLOC3M55sBQImC.jpg  0.173194


Getting recommendations for: The American
                                                   title release_date  \
28001  Paolo Barca, maestro elementare, praticamente ...   1975-01-01
10735                                          Blackjack   1998-06-11
29116         Colpo grosso, grossissimo...anzi probabile   1972-03-31
12646                                       The Children   2008-12-05
29449                                     Sweet Lorraine   2015-04-23
32798                      OSS 117: Mission for a Killer   1965-07-02
36543                                         Assassin X   2016-08-02
34532                                First Comes Courage   1943-07-29
9677                                  The Eiger Sanction   1975-05-21
16179                                              Hanna   2011-04-07

                            poster_path     score
28001  /iUkxolbjQJKWLBSG9C7djLedPjV.jpg  0.222538
10735  /miH1vLwWBaEevDvtU8M4nAqcFGi.jpg  0.203301
29116  /8XUDObjdW79zzxBLs7dlHb1CGnP.jpg  0.199149
12646  /xWfWWbVOFJjOZpZTiK9tTwr67oI.jpg  0.184528
29449  /n5PYAdH7tA5ZTTCUPaYg1pqvs51.jpg  0.177289
32798  /5Cw7MGuBChTxD08nnReVviszfMp.jpg  0.176097
36543  /80UF6GhWkx9Bd4VQPSiuDzaOK97.jpg  0.165562
34532  /8imp62dlaxTTDbLJnqGjhraRYMj.jpg  0.162497
9677   /q1GB9vhp2WgnCTxo4PqNAo5yG9u.jpg  0.161682
16179  /2Jr4Rl4Hjiahgh09bjeH8tFhgKp.jpg  0.160114


Getting recommendations for: X-Men
                                    title release_date  \
13113            X-Men Origins: Wolverine   2009-04-28
24819                   X-Men: Apocalypse   2016-05-18
39722                         Rising Fear   2016-05-30
10615               X-Men: The Last Stand   2006-05-24
736                           The Phantom   1996-06-06
2236   Police Academy 3: Back in Training   1986-03-20
21985          X-Men: Days of Future Past   2014-05-15
19685                  Hulk vs. Wolverine   2009-01-27
6083                                   X2   2003-04-24
30070                           Guardians   2017-02-14

                            poster_path     score
13113  /kqO36IYvWbRKMPiUeiVZUFH06Rc.jpg  0.214497
24819  /zSouWWrySXshPCT4t3UKCQGayyo.jpg  0.208854
39722  /nJnHhlefCB6QH9CQJz7CvTJp9eB.jpg  0.188444
10615  /9jsW4RurucTwCEtA5iWV2PmIv11.jpg  0.168845
736    /8k8RSMkmGR9Lp6FbKtithM3KIQb.jpg  0.155503
2236   /A0WHx049ty1RJ57XeQwweRxhHbW.jpg  0.154962
21985  /giUK8ppRbfistadVzHtpainkhq4.jpg  0.154343
19685  /dXjbsjVkpykJECOO0kgThsipSYP.jpg  0.154265
6083   /8TAPuoephNAiRGgBobP4xQl0QGK.jpg  0.149139
30070  /r1cJPzC85XsVOzai8MMG9Qe4AH6.jpg  0.146729


Getting recommendations for: Legalese
                                        title release_date  \
35694                    A Violent Prosecutor   2016-02-03
10723                       Knock on Any Door   1949-01-01
456                             Guilty as Sin   1993-06-04
25131                    Grand Central Murder   1942-05-01
37998  Perry Mason: The Case of the Lost Love   1987-02-23
29201                    Breaking the Silence   1992-01-14
14843                              Like Minds   2006-08-10
15395                                  Awaara   1951-04-07
38157            The Advocate: A Missing Body   2015-10-08
19631                       Teenage Paparazzo   2010-01-22

                            poster_path     score
35694  /1Ypss1SgBBCb4DQp7e7AJEr7nZ3.jpg  0.256332
10723  /c90qKTetStCpZHP3UvkaPdp6q6s.jpg  0.193640
456    /hQwk4PZdDVJI6SYEEqxx4zqco0j.jpg  0.174844
25131  /ewkBjrJbQyMbXYbZ9bSut6qbFsR.jpg  0.162275
37998  /q5dsyIMLD7PKZvnt1B9sTQMBUeD.jpg  0.159765
29201                               NaN  0.156813
14843  /bSEK6tuaKRhXUdMKcU2Ms4icWln.jpg  0.152456
15395  /xZ1aG8kY7DfOmcGbFTMR1757C27.jpg  0.151482
38157  /2gfMZuJNWbg639c5PcoBFyPWsno.jpg  0.145540
19631  /qSP22S7BgBi8GOWFWyO3oK1Soyg.jpg  0.142528


Getting recommendations for: The Day
                              title release_date  \
8303                    Torpedo Run   1958-10-24
39587                Beyond Skyline   2017-10-20
17477                    The Divide   2011-03-13
14983               12th & Delaware   2010-04-01
36583                The Bronx Bull   2016-06-13
15364        Saw: The Final Chapter   2010-10-21
11327                Seraphim Falls   2006-09-13
17076  The Pleasure of Being Robbed   2008-10-03
9003            Joint Security Area   2000-09-09
19894                Special Forces   2011-11-02

                            poster_path     score
8303    /iBmjP5AsIftz6Ov3MfxIezHXDp.jpg  0.193895
39587  /ktZvjFmwCLrMXtr1dl6o5PhhHS4.jpg  0.167118
17477  /rmENz2ulMToAhVk3qWwmNVl6uoO.jpg  0.166208
14983  /mKzOp0rENfpSMYcYOxAykc6d0Mr.jpg  0.153995
36583  /6zmXvPfx1e7CxdVvVPUsqpinntH.jpg  0.149252
15364  /mBQX4TCfDEk2a5mvu0Z0PFeFoUp.jpg  0.146741
11327  /9OEc8U0h8lr52UTIIqz3luvt2fD.jpg  0.143596
17076  /5juYDdGQGcTHJxdSfcG9aICKwgQ.jpg  0.142082
9003   /iTB01AX6We1h8CAJql55dUyvSWq.jpg  0.135821
19894  /47HMBrYSIh8OdisTEsVRwWtkRn8.jpg  0.125022


Getting recommendations for: Kamchatka
                                                   title release_date  \
30865                                               Nina   1978-10-17
18957                                          Rebellion   2011-11-16
34858                                     The Apple Game   1977-01-16
34845               Lúcio Flávio, o Passageiro da Agonia   1977-02-01
15811                                 Down Argentine Way   1940-10-11
6018                                 Assassination Tango   2002-09-11
41175  Schoolgirl Report Part 5: What All Parents Sho...   1973-04-13
37587                          Hollywood Without Make-Up   1963-07-01
34520                                         This Night   2008-01-01
7669   Manufacturing Consent: Noam Chomsky and the Media   1992-11-06

                            poster_path     score
30865  /uSt6mvhTGMtNV8CvBP4Ba6hiFNI.jpg  0.337118
18957  /uuyCdlOYcqvSYkKNp3hFBQ5oay2.jpg  0.253983
34858  /6TVF2dXDlBWRvDHWWLc6BLpOaH4.jpg  0.239857
34845  /9EsRPcBHemn8LE1D8fsXcoe3bJz.jpg  0.206047
15811  /vTnGr6W788W1mVZwInaq5W9GOVO.jpg  0.193193
6018   /cnZCkILJJeoUDJ830TlOOr6IWg2.jpg  0.189382
41175  /hI2QQ6ebLijoXXenhd6r4dajZD6.jpg  0.184665
37587  /28eGZjXAidz7MDraFEQ69BgynxO.jpg  0.181160
34520  /vDgTUhacCRNPS3xCD3JybzDH1OX.jpg  0.178259
7669   /qcobnUbGl5gMiIKPqNpe3RKvtr8.jpg  0.178214


Getting recommendations for: Champagne
                                 title release_date  \
37251            Betty Boop's Big Boss   1933-06-01
34820                  The Undesirable   1915-03-20
8850                       The Swindle   1997-10-15
37256              Betty Boop's Museum   1932-12-16
15237                       Conviction   2010-09-11
6952                                It   1927-02-15
5343    Betty Fisher and Other Stories   2001-09-01
16667                            Betty   1992-02-19
3710                       Nurse Betty   2000-09-08
9605   National Lampoon's Gold Diggers   2003-06-15

                            poster_path     score
37251  /xeYkEJSCicAe7iqFVOzeSAHrmrR.jpg  0.277336
34820  /4m4xQRtfksSzwWxZoecnPnHlNV4.jpg  0.272077
8850   /ikxQxOuXNW8WRvPVuusvPpmYGTO.jpg  0.257376
37256  /mfl4HAr6WLQIYuzZwL4XhtmxrP0.jpg  0.247575
15237   /WHmcvCVpbSSnj4UjUUCfQwuiGo.jpg  0.214309
6952   /8Y8Yf8Z8F4GzqplMMduwc8j6EnK.jpg  0.209677
5343   /y1eMqoRS6V2ATsQFcfAmsbONzgZ.jpg  0.194865
16667  /vT3hvAk6cXVhQBP3VKWDcKonP3u.jpg  0.192740
3710   /k14gKsl0WzD4R3vS7xeeWRePirJ.jpg  0.192006
9605   /yDNmhQu0DSFNfNynGtCEem2WvFd.jpg  0.191295


Getting recommendations for: Magnum Cop
                      title release_date                       poster_path  \
11126         The Dead Girl   2006-11-07  /nwtmMYsyxkRYnsUe5OwyEHHqW0p.jpg
31287           Double Bang   2001-08-17  /AaS0n09J2BLHCFQA0sFBmBEAfF2.jpg
26283            Slam Dance   1987-10-02  /l0F34zLmR6Zkbqomng4tbQyCsBr.jpg
6660          Love Actually   2003-09-07  /kfX8Ctin3fSZbdnjh6CXSNZUOVP.jpg
18165      Noroi: The Curse   2005-08-20  /7qUFiNE8kWcptWGxiXgLLKY5iVI.jpg
13282               Tu£sday   2008-10-10  /bEKTzJEQ2pgtakNi575nBrdnyTI.jpg
40263           Revengeance   2017-04-05  /ej9Q38DGIRwurduzuMVdxMtFlA1.jpg
7963   The Boston Strangler   1968-10-08  /yBSEUuuiDF3SCTphCF3OchvCZP0.jpg
29230           Cha cha cha   2013-06-20  /aLExpbzKFLkzMGgO6CZxTGYGls2.jpg
34860              Too Late   2016-03-25  /mzY3O6X7FcZQ7LIKBLPmtrWyhVf.jpg

          score
11126  0.218306
31287  0.176188
26283  0.173543
6660   0.166085
18165  0.162773
13282  0.162298
40263  0.162107
7963   0.159719
29230  0.157591
34860  0.151166


Getting recommendations for: The Master: A Lego Ninjago Short
                                                   title release_date  \
20746                                        Bad Chicken          NaN
3572                                         Chicken Run   2000-06-21
12399                                          Red Cliff   2008-07-10
33112                                      Chicken Ranch   1983-01-01
10189                                     Chicken Little   2005-11-04
31768                              The Delightful Forest   1972-09-20
28446                        The Clan of the White Lotus   1980-01-01
21797                       Palestine Is Still the Issue   2003-01-06
37401                                     Chicken People   2016-03-13
17579  Detective Dee and the Mystery of the Phantom F...   2010-09-18

                            poster_path     score